.listItem {
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0.003625rem;
  display: flex;
  gap: 0.25rem;
  padding: 0.5625rem 1.375rem 0.5625rem 0;
  border: 1px solid transparent;
  cursor: pointer;
  color: var(--text-color);
  transition:
    background-color 0.15s,
    border-color 0.15s,
    color 0.15s;

  &:hover,
  &Backlight {
    background-color: var(--base-opacity-hover);
    border-color: var(--border-opacity-hover);
  }

  &Backlight:hover {
    background-color: var(--opacity-hover);
  }

  &:focus {
    outline: none;
    border-color: var(--light-primary);
  }

  &Icon {
    transition: transform 0.15s;
    flex-shrink: 0;
    path {
      transition: fill 0.15s;
      fill: var(--text-color);
    }
  }

  &Active,
  &Active:hover {
    background-color: var(--light-primary);
    border-color: var(--light-primary);
    color: var(--inverted-text-color);

    .listItemIcon {
      path {
        fill: var(--inverted-text-color);
      }
    }
  }

  &Expanded {
    .listItemIcon {
      transform: rotate(90deg);
    }
  }

  ul {
    width: 100%;
  }

  &Skeleton {
    padding-left: 1.375rem;
    pointer-events: none;
    cursor: default;
  }
}
